<div class="flex justify-center my-16 prose mx-auto">
  <!-- Cuadro con borde y sombra -->
  <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-2xl border border-gray-300 ">

    <div class="text-center mb-8 mt-8">
      <p class="text-3xl font-bold">Change your password</p>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="flex flex-col mb-6">
        <%= f.label :password, "New password", class: "text-sm font-medium text-gray-700" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "rounded-full text-center text-sm border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 px-4 py-2 mt-2" %>
      </div>

      <div class="flex flex-col mb-8">
        <%= f.label :password_confirmation, "Confirm new password", class: "text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-full text-center text-sm border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 px-4 py-2 mt-2" %>
      </div>

      <div class="flex flex-row justify-center mb-6">
        <%= f.submit "Change", class: "px-16 rounded-full bg-indigo-600 py-2 text-sm text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50" %>
      </div>
    <% end %>

    <div class="flex flex-row justify-end gap-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
