<div class="flex justify-center my-16 prose mx-auto">
  <!-- Cuadro con borde y sombra -->
  <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-2xl border border-gray-300 ">
    
    <div class="text-center">
      <h1 class="text-2xl font-bold text-gray-800">Forgot your password?</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex flex-col mb-3">
        <%= f.label :email, class: "text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-full text-center border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 px-4 py-2 mt-2" %>
      </div>

      <div class="text-center">
          <p>Send me reset password instructions</p>
      </div>

      <div class="flex flex-col mt-4 mb-4 px-32 py-auto">
        <button type="submit" class="rounded-full bg-indigo-600 py-3 text-sm font-semibold text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50">
          Send
        </button>
      </div>
    <% end %>

    <div class="flex flex-row justify-end gap-4">
      <%= render "devise/shared/links" %>
    </div>
    
  </div>
</div>
