<div id="<%= dom_id post %>">

  <div>
    <p class="font-bold m-0">
      By <%= "#{post.user.first_name} #{post.user.last_name} "%>
    </p>
    <p class="text-xs flex flex-row m-0">
      <%= post.published_at ? post.published_at.strftime('%Y-%m-%d %H:%M') : 'not published yet' %>
    </p>
  </div>

  <p class="text-sm">
    <%= post.title %>
  </p>

  <p class="text-sm m-0">
    <%= post.body %>
  </p>

</div>