<% unless user_signed_in? %>
  <%= render partial: 'shared/header' %>
<% end %>

<div class="flex flex-row justify-end p-8">
  <% if user_signed_in? %>  
    <%= button_to "Write your Post", new_post_path, method: :get, class: "px-8 py-3 rounded-full bg-blue-500 font-semibold text-white text-center" %>
  <% end %>
</div>


<div id="posts" class="prose mx-auto">
  <% @posts.each do |post| %>
    <div class="flex justify-center mb-8">
      <!-- Cuadro con borde y sombra -->
      <div class="w-full max-w-lg bg-white p-8 rounded-lg border border-gray-300 ">

        <div class="flex flex-row justify-between">

          <div>
            <p class="font-bold m-0">
              By <%= "#{post.user.first_name} #{post.user.last_name} "%>
            </p>
            <p class="text-xs flex flex-row m-0">
              <%= post.published_at ? post.published_at.strftime('%Y-%m-%d %H:%M') : 'not published yet' %>
            </p>
          </div>

          <% if post.draft? %>
            <div class="p-2 rounded-full bg-gray-500 font-semibold w-24 text-white text-center"> Draft </div>
          <% elsif post.scheduled? %>
            <div class="p-2 rounded-full bg-green-500 font-semibold w-32 text-white text-center"> Scheduled </div>
          <% end %>
        </div>
        <p class="text-sm">
          <%="#{post.title}"%>
        </p>
        <p>
          <%= link_to "Read post", post, class: "text-sm no-underline" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/pagination' %>