<div class="flex justify-center my-16 prose mx-auto">
  <!-- Cuadro con borde y sombra -->
  <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-2xl border border-gray-300 ">

    <p style="color: green"><%= notice %></p>

    <%= render @post %>

    <div class="mt-8">
      <% if user_signed_in? %>
        <div class="flex flex-row justify-center gap-8">
          <%= button_to "Edit this post", edit_post_path(@post), method: :get, class: "text-sm bg-gray-100 px-4 py-2 rounded-full hover:bg-gray-200" %>
          <%= button_to "Destroy this post", @post, method: :delete, class: "text-sm bg-gray-100 px-4 py-2 rounded-full hover:bg-gray-200" %>
        </div>
      <% end %>
      <div class="flex flex-row justify-center mt-8">
        <%= button_to "Back to posts", posts_path, method: :get, class: "text-sm bg-gray-100 px-4 py-2 rounded-full hover:bg-gray-200" %>
      </div>
    </div>
  </div>
</div>
