<!DOCTYPE html>
<html>
  <head>
    <title>BlogWithoutGoogle</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class = "prose mx-auto">

    <p class="alert"><%= alert %></p>

    <%= render partial: 'shared/notifications', locals: {message: flash[:notice]} %>

    <% if user_signed_in? %>
      <%= render partial: 'shared/sidebar' %>
    <% end %>

    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

  </body>
</html>
