<!DOCTYPE html>
<html>
  <head>
    <title>BlogWithoutGoogle</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class = "prose mx-auto">

    <p class="notice"><%= notice %></p> 
   
    <p class="alert"><%= alert %></p>

    <div>
      <% if user_signed_in? %>

        <%= button_to "Profile", edit_user_registration_path, method: :get, class: "bg-gray-100 px-4 py-2 rounded-full hover:bg-gray-200" %>

        <br>

        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-gray-100 px-4 py-2 rounded-full hover:bg-gray-200" %>

        <br>

      <% end %>
    </div>

    <%= render partial: 'shared/notifications', locals: {message: flash[:notice]} %>

    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

  </body>
</html>
